<div class="container-fluid">
    <nav class="navbar border navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['quienes-somos']" routerLinkActive="active">¿Quiénes somos?</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Universo profético
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item deplegar" [routerLink]="['mision']" routerLinkActive="active">Misión</a>
                            <a class="dropdown-item" [routerLink]="['bautizo']" routerLinkActive="active">Bautismo</a>
                            <a class="dropdown-item" [routerLink]="['primera-comunion']" routerLinkActive="active">Primera Comunión</a>
                            <a class="dropdown-item" [routerLink]="['confirmacion']" routerLinkActive="active">Confirmación</a>
                            <a class="dropdown-item" [routerLink]="['catecumenado']" routerLinkActive="active">Catecumenado</a>
                            <a class="dropdown-item" [routerLink]="['familia-matrimonio']" routerLinkActive="active">Familia / Matrimonio</a>
                            <a class="dropdown-item" [routerLink]="['pastoral-biblica']" routerLinkActive="active">Pastoral Biblica</a>
                            <a class="dropdown-item" [routerLink]="['pastoral-educativa']" routerLinkActive="active">Pastoral educativa</a>
                            <a class="dropdown-item" [routerLink]="['evangelizacion']" routerLinkActive="active">Programa Básico de evangelización</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Litúrgica
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" [routerLink]="['templo-parroquial']" routerLinkActive="active">Templo parroquial</a></li>
                            <li><a class="dropdown-item" [routerLink]="['calendario']" routerLinkActive="active">Calendario</a></li>
                            <li><a class="dropdown-item" [routerLink]="['oraciones']" routerLinkActive="active">Oraciones</a></li>
                            <li><a class="dropdown-item" [routerLink]="['canto']" routerLinkActive="active">Cantos</a></li>
                            <li><a class="dropdown-item" [routerLink]="['arte']" routerLinkActive="active">Arte</a></li>
                            <li><a class="dropdown-item" [routerLink]="['solemnidades']" routerLinkActive="active">Solemnidades</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Social
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" [routerLink]="['caridad']" routerLinkActive="active">Caridad</a></li>
                            <li><a class="dropdown-item" [routerLink]="['politica']" routerLinkActive="active">Política</a></li>
                            <li><a class="dropdown-item" [routerLink]="['unidad']" routerLinkActive="active">Unidad</a></li>
                            <li><a class="dropdown-item" [routerLink]="['salud']" routerLinkActive="active">Salud</a></li>
                            <li><a class="dropdown-item" [routerLink]="['educacion']" routerLinkActive="active">Educación</a></li>
                            <li><a class="dropdown-item" [routerLink]="['empleo']" routerLinkActive="active">Empleo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['cencovi']" routerLinkActive="active">Cencovi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['tres-panes']" routerLinkActive="active">3Panes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['avisos']" routerLinkActive="active">Avisos parroquiales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['papal']" routerLinkActive="active">Complejo parroquial</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>