<div class="container-fluid">
    <header class="header p-1 p-sm-1 p-md-1 p-lg-1">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-6 order-2 order-sm-2 order-md-1 order-lg-1">
                <img src="./assets/header/Logo_Arquidiocesis.png" class="img-fluid" alt="Logo">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 order-1 order-sm-1 order-md-2 order-lg-2">
                <h4 class="text-center">Arquidiócesis de Cali</h4>
                <h1 class="text-capitalize text-center rochester">Parroquia santa marta</h1>

            </div>
            <div class="col-lg-1 col-md-1 col-sm-6 order-3 order-sm-3 order-md-3 order-lg-3">
                <img src="./assets/header/santa_marta.jpg" class="img-fluid" alt="Santa Marta">
            </div>
        </div>
    </header>
</div>