<div class="container">
    <div class="row my-2">

        <div class="col-md-12 mb-2">
            <h1 class="rochester text-center"> <i class="fas fa-church"></i> Cencovi
                <i class="fas fa-cross"></i></h1>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error molestias itaque accusantium. Perferendis mollitia nemo voluptas ea. Consequuntur quaerat, quibusdam eligendi sapiente quia aliquam at molestiae id, vel rerum fugit!</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="./assets/cencovi/1.jpg" alt="parroquia" width=50%>
        </div>
        <div class="col-md-12">
            <hr>
            <div class="container">
                <div class="row my-2">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 ">
                        <a href="./assets/cencovi/1.jpg" data-lightbox="1" data-title="PLANOS COMPLEJO PARROQUIAL PARA LA EVANGELIZACION- TEMPLO-CASA CURAL- CENTRO PASTORAL-CENCOVI"><img class="img-fluid sombreado my-3 rounded" src="./assets/cencovi/1.jpg" alt="1"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/cencovi/2.jpg" data-lightbox="2" data-title="PLANOS COMPLEJO PARROQUIAL PARA LA EVANGELIZACION- TEMPLO-CASA CURAL- CENTRO PASTORAL-CENCOVI"><img class="img-fluid sombreado my-3 rounded" src="./assets/cencovi/2.jpg" alt="2"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/cencovi/3.jpg" data-lightbox="3" data-title="PLANOS COMPLEJO PARROQUIAL PARA LA EVANGELIZACION- TEMPLO-CASA CURAL- CENTRO PASTORAL-CENCOVI"><img class="img-fluid sombreado my-3 rounded" src="./assets/cencovi/3.jpg" alt="3"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/cencovi/4.jpg" data-lightbox="9" data-title="PLANOS COMPLEJO PARROQUIAL PARA LA EVANGELIZACION- TEMPLO-CASA CURAL- CENTRO PASTORAL-CENCOVI"><img class="img-fluid sombreado my-3 rounded" src="./assets/cencovi/4.jpg" alt="4"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/cencovi/5.jpg" data-lightbox="4" data-title="PLANOS COMPLEJO PARROQUIAL PARA LA EVANGELIZACION- TEMPLO-CASA CURAL- CENTRO PASTORAL-CENCOVI"><img class="img-fluid sombreado my-3 rounded" src="./assets/cencovi/5.jpg" alt="5"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/cencovi/6.jpg" data-lightbox="5" data-title="PLANOS COMPLEJO PARROQUIAL PARA LA EVANGELIZACION- TEMPLO-CASA CURAL- CENTRO PASTORAL-CENCOVI"><img class="img-fluid sombreado my-3 rounded" src="./assets/cencovi/6.jpg" alt="6"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 ">
                        <a href="./assets/cencovi/7.jpg" data-lightbox="6" data-title="PLANOS COMPLEJO PARROQUIAL PARA LA EVANGELIZACION- TEMPLO-CASA CURAL- CENTRO PASTORAL-CENCOVI"><img class="img-fluid sombreado my-3 rounded" src="./assets/cencovi/7.jpg" alt="7"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/cencovi/8.jpg" data-lightbox="7" data-title="PLANOS COMPLEJO PARROQUIAL PARA LA EVANGELIZACION- TEMPLO-CASA CURAL- CENTRO PASTORAL-CENCOVI"><img class="img-fluid sombreado my-3 rounded" src="./assets/cencovi/8.jpg" alt="8"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/cencovi/9.jpg" data-lightbox="8" data-title="PLANOS COMPLEJO PARROQUIAL PARA LA EVANGELIZACION- TEMPLO-CASA CURAL- CENTRO PASTORAL-CENCOVI"><img class="img-fluid sombreado my-3 rounded" src="./assets/cencovi/9.jpg" alt="9"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>