<div class="container">
    <div class="row my-2">

        <div class="col-md-12">
            <h1 class="rochester text-center"> <i class="fas fa-church"></i> Templo parroquial
                <i class="fas fa-cross"></i></h1>
        </div>
        <div class="col-md-3">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error molestias itaque accusantium. Perferendis mollitia nemo voluptas ea. Consequuntur quaerat, quibusdam eligendi sapiente quia aliquam at molestiae id, vel rerum fugit!</p>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 ">
                        <a href="./assets/templo-parroquial/altar.png" data-lightbox="altar" data-title="altar"><img class="img-fluid sombreado my-3 rounded" src="./assets/templo-parroquial/altar.png" alt="altar"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/templo-parroquial/parroquia-estructura.jpg" data-lightbox="estructura" data-title="Estructura Parroquia"><img class="img-fluid sombreado my-3 rounded" src="./assets/templo-parroquial/parroquia-estructura.jpg" alt="estructura"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/templo-parroquial/parroquia.png" data-lightbox="parroquia" data-title="Parroquia"><img class="img-fluid sombreado my-3 rounded" src="./assets/templo-parroquial/parroquia.png" alt="Parroquia"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/templo-parroquial/misa.jpg" data-lightbox="misa" data-title="Misa"><img class="img-fluid sombreado my-3 rounded" src="./assets/templo-parroquial/misa.jpg" alt="Misa"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/templo-parroquial/dron.jpg" data-lightbox="dron" data-title="dron"><img class="img-fluid sombreado my-3 rounded" src="./assets/templo-parroquial/dron.jpg" alt="dron"></a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <a href="./assets/templo-parroquial/dron2.jpg" data-lightbox="dron2" data-title="dron"><img class="img-fluid sombreado my-3 rounded" src="./assets/templo-parroquial/dron2.jpg" alt="dron"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>