<div class="container-fluid footer ">
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-12 co-12 p-2 text-center">
            <p class="m-0">Direccion: Cra 46#55c-102</p>
            <p class="m-0">Teléfono: 3276239</p>
            <p class="m-0">8:00am - 12:00m / 2:00pm - 6:00pm</p>
            <p class="m-0">Morichal de Comfandi - Ciudad Córdoba</p>
            <p class="m-0">Ciudad Córdoba Reservado - Llano Verde</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 p-2 text-center">
            <p class="m-0"><a target="_blank" href="https://www.facebook.com/parroquiasantamarta.cali.71"><i class="fab fa-facebook"></i> parroquiasantamarta.cali.71@facebook.com</a></p>
            <p class="m-0"><a target="_blank" href="https://www.instagram.com/parroquiasantamartacali/?utm_medium=copy_link"><i class="fab fa-instagram"></i> parroquiasantamartacali</a></p>
            <p class="m-0"><a target="_blank" href="https://parroquiasantamartacali@hotmail.com"><i class="fas fa-envelope"></i> parroquiasantamartacali@hotmail.com</a></p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center desarrollado">
            <p>Desarrollado por: Zambrano Benavides &copy; 2021</p>
        </div>
    </div>
</div>